<div class="instructions">
	<h4> Type in battle/battle_type/fighter_one/fighter_two to make your champions do battle! </h4>
</div>
<ul>
	<h3> Battle Type Shortcuts: </h3>
	<p>SUMO BATTLE -> Sumo <br>
	SPAGHETTI WHIP BATTLE -> Spaghetti <br>
	BOEREWORS EATING COMPETITION -> Boerewors <br>
	ASSASSINATING WESLEY -> Assassinating <br>
	CROCODILE CHARIOT RACING -> Crocodile </p>
</ul>

<ul>
	<h3>Contestants:</h3>
	<h4><li><%= image_tag "aaron.jpg", :class => "small_photo" %> Aaron </li>
		<li><%= image_tag "alec.jpg", :class => "small_photo" %> Alec </li>
		<li><%= image_tag "alexis.jpg", :class => "small_photo" %> Alexis </li>
		<li><%= image_tag "amanda.jpg", :class => "small_photo" %> Amanda </li>
		<li><%= image_tag "annelie.jpg", :class => "small_photo" %> Annelie </li>
		<li><%= image_tag "brian.jpg", :class => "small_photo" %> Brian </li>
		<li><%= image_tag "chris.jpg", :class => "small_photo" %> Chris </li>
		<li><%= image_tag "daniel.jpg", :class => "small_photo" %> Daniel </li>
		<li><%= image_tag "emily.jpg", :class => "small_photo" %> Emily </li>
		<li><%= image_tag "erica.jpg", :class => "small_photo" %> Erica </li>
		<li><%= image_tag "ian.jpg", :class => "small_photo" %> Ian </li>
		<li><%= image_tag "isabel.jpg", :class => "small_photo" %> Isabel </li>
		<li><%= image_tag "jessie.jpg", :class => "small_photo" %> Jessie </li>
		<li><%= image_tag "josh.jpg", :class => "small_photo" %> Josh </li>
		<li><%= image_tag "julian.jpg", :class => "small_photo" %> Julian </li>
		<li><%= image_tag "julianne.jpg", :class => "small_photo" %> Julianne </li>
		<li><%= image_tag "khangwelo.jpg", :class => "small_photo" %> Khangwelo </li>
		<li><%= image_tag "leila.jpg", :class => "small_photo" %> Leila </li>
		<li><%= image_tag "melissa.jpg", :class => "small_photo" %> Melissa </li>
		<li><%= image_tag "praise.png", :class => "small_photo" %> Praise </li>
		<li><%= image_tag "rachel.jpg", :class => "small_photo" %> Rachel </li>
		<li><%= image_tag "rebecca.jpg", :class => "small_photo" %> Rebecca </li>
		<li><%= image_tag "richard.jpg", :class => "small_photo" %> Richard </li>
		<li><%= image_tag "robert_l.jpg", :class => "small_photo" %> Robert_L </li>
		<li><%= image_tag "robert_k.jpg", :class => "small_photo" %> Robert_K </li>
		<li><%= image_tag "sammy.jpg", :class => "small_photo" %> Sammy </li>
		<li><%= image_tag "sarah.jpg", :class => "small_photo" %> Sarah </li>
		<li><%= image_tag "seth.jpg", :class => "small_photo" %> Seth </li>
		<li><%= image_tag "tali.jpg", :class => "small_photo" %> Tali </li>
		<li><%= image_tag "tebogo.jpg", :class => "small_photo" %> Tebogo </li>
		<li><%= image_tag "therveshan.jpg", :class => "small_photo" %> Therveshan </li>
		<li><%= image_tag "thobs.jpg", :class => "small_photo" %> Thobs </li>
		<li><%= image_tag "wes.jpg", :class => "small_photo" %> Wes </li></h4>
	</ul> 