<%= form_for @place do |f| %>
	<% if @place.errors.any? %>
    <div class="error_message">
      <h3>
        <%= pluralize(@place.errors.count, "error") %> prohibited
        this place from being saved:
      </h3>
      <ul>
        <% @place.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

	<p>
		<%= f.label :name %>
		<%= f.text_field :name %>
	</p>

	<p>
		<%= f.label :activity %>
		<%= f.text_field :activity %>
	</p>

	<p>
		<%= f.label :district %>
		<%= f.text_field :district %>
	</p>

	<p>
		<%= f.label :visited? %>
		<%= f.text_field :visited %>
	</p>

	<%= f.submit %>
<% end %>