<h1>Places</h1>

<%= link_to 'New', new_place_path %>

<ul>
	<% @places.each do |place| %>
		<p><%= place.name %> |
		<%= link_to 'Show', place_path(place) %> |
		<%= link_to 'Edit', edit_place_path(place) %> |
		<%= link_to 'Delete', place_path(place), method: :delete %></p>
	<% end %>
</ul>